{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- <title>Cat Collector</title> -->
    <!-- {{ pageName}} | Cat Collector -->
    <!-- <title>{% block title %} {% endblock %}</title> -->
    <title>{{ pageName }} | Cat Collector</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">

        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">Cat Collector</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'toy_index' %}">Toys</a></li>
                    <li><a href="{% url 'toy_create' %}">Create a Toy</a></li>
                    <li><a href="{% url 'cat_create' %}">Add a Cat</a></li>
                    <li>
                        <a href="{% url 'cat_index' %}">View my Cats</a></li>
                    </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    
                    <li><a href="/accounts/login/">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign-up</a></li>
                    {% endif %}
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <p class="right">
            All Rights Reserved &copy; 2022 Cat Collector
        </p>
    </footer>
</body>
</html>